// .paginacion{
// margin: 0;
// padding: 30px;
// background-color: $platinum;
// border-radius: 50%;
// }
//
// .pagination{
//     margin: 0rem;
//     padding-bottom: 40px;
//     padding-top: 40px;
//     border-radius: 50%;
//     background-color: $platinum;
// }

// .navegador{
//   display: none;
//   height: 50px;
//   margin-top: 20px;
//     background-color: $platinum;
//     border-radius: 50%;
// }



.navegador {
margin-top: 30px;
margin-bottom: 0;
  height: 60px;
  background-color: red;
  margin-bottom: 0;
}
