.container__author__img {
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 10px;
}

.container__author__nombre {
  margin-left: 10px;
}

.container__author__rrss {
  margin-left: 10px;
}

.container__author__web {
  margin-left: 10px;
  margin-bottom: 20px;
}


.article__container__parrafo {
  // padding-right: 30px;
  // padding-top: 20px;
  font-family: $roboto;
  font-style: sans-serif;
}

.container__texto {
text-align: center;
vertical-align: top;
  padding: 50px;
}
